body {
    font-family: Georgia, serif;
    background: #f1ede3;
    color: rgb(55, 55, 55);
    margin: 0;
}

div#headerImg {
    width:100%;
    height:auto;
    background:url(resources/header.png);
    text-align:center;
}

img {
    width: 100%;
    height: auto;
}

.header h1 {
    font-size: 60px;
}

.header {
    padding: 1px;
    text-align: center;
    background: rgb(14, 167, 95);
    color: white;
}


.align {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.frontpage{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.buttons {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #565854;
}

.buttons button {
    width: 100%;
}

.navbar a:link, a:visited{
    overflow: hidden;
    background-color: #ca312b;
    padding: 10px 0px;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration:none;
    margin:0 auto;
    width: 33.33%;
}

.navbar a:hover{
    padding: 10px 0px;
    background-color: #f1ede3;
    color: black;
    text-decoration:none;
}
